.Heading
{
    color: red;
}
.paragraph
{
    background-color: beige;
}
#londonHeading
{
    background-color: pink;
}
.spanLorem
{
    padding:0 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid gray;
}
.paragraph3
{
    border-style: ridge;
    border-width: 10px;
    border-color: lightgreen;
    margin: 5px;
}